{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>MERAKI</title>
</head>

<body>
    <div class="nav">
        <img src="{% static 'img/logo.jpeg' %}" alt="logo">
        <div class="navbar">
            <ul>
                <li>A BARBEARIA</li>
                <li>SERVIÇOS</li>
                <li>CONTATO</li>
                <Li>AGENDE</Li>
            </ul>
        </div>
    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

    <div class="footer">
        <div>
            <img src="" alt="logo">
        </div>

        <div>
            <p><i class="bi bi-geo-alt"></i>Meraki Barbearia</p>
            <p>Avenida Dom Severino 2709-Fátima - São cristovão, Teresina-PI</p>
        </div>

        <div>
            <p><i class="bi bi-whatsapp"></i> (86)98170-0022</p>
            <div>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-geo-alt"></i>
            </div>
        </div>

        <div>
            <p>A Barberia</p>
            <p>Serviços</p>
            <p>Contato</p>
            <p>Agende</p>
        </div>

    </div>

</body>

</html>