@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #274585;
}

.navbar-content{
    padding: 0 5em;
}

.navbar-brand{
    text-align: center;
}

.navbar-brand h4{
    font-size: 16px;
    font-weight: bold;
    margin-top: .5em;
}

.navbar-brand p{
    font-size: 7px;
}

.logo{
    width: 120px;
}

.navbar-nav{
    display: flex;
    align-items: center;
}

.list-link{
    font-weight: bold;
    transition: .3s;
    margin-left: 1.5em;
}


.list-link:hover{
    color: rgb(236, 174, 58);
}

.list-link-agende{
    font-weight: bold;
    transition: .3s;
    margin-left: 1.5em;
    padding: .6em;
    background-color: #222;
    color: #fff;
}

.list-link-agende:hover{
    background-color: rgb(236, 174, 58);
    color: #fff;
}


.footer{
    margin-top: 10em;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.footer-content{
    display: flex;
    width: 80%;
    height: 45%;
    justify-content: space-around;
    align-items: center;
}

.footer-content img{
    width: 140px;
}

.localizacao{
    display: flex;
    width: 21%;
    height: 100%;
    flex-direction: column;
}

.local{
    font-size: 20px;
    color: #fff;
}

.endereco{
    color: #fff;
    font-size: 12px;
}

.contato{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato p{
    font-size: 12px;
    color: #fff;
}

.redes-sociais{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.redes-sociais a{
    color: #fff;
    transition: .3s;
}

.redes-sociais a:hover{
    color: rgb(236, 174, 58);
}

.options{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.options a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    transition: .3s;
}

.options a:hover{
    color: rgb(236, 174, 58);
}

@media(max-width:768px){
    .endereco{
        font-size: 10px;
    }

    .footer-content img{
        display: none;
    }

    .local{
        font-size: 12px;
    }

}

@media(max-width: 468px){
    .navbar-content{
        padding: 0 2em;
    }

    .footer-content img{
        display: none;
    }

    .local{
        font-size: 10px;
    }

    .options{
        font-size: 10px;
    }

    .contato{
        font-size: 10px;
    }

    .endereco{
        font-size: 8px;
    }
}